.node {
    border: solid;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.visited {
    background-color: blue;
}

.path {
    background-color: chartreuse;
}

.wall {
    background-color: black;
}

.startNode {
    background-color: green;
}

.endNode {
    background-color: red;
}

.iron-man-red {
    background-color: red;
}

.iron-man-yellow {
    background-color: yellow;
}

.iron-man-blue {
    background-color: blue;
}